[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
whitenoise = "*"
gunicorn = "*"
drf-extra-fields = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-rest-swagger = "*"
python-levenshtein = "*"
python-decouple = "*"

[dev-packages]

[requires]
python_version = "3.11"
